# Archivos de Python

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/
instance/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
.pyre/

# Entornos virtuales
.env
.venv
env/
venv/
ENV/
.venv*/
env.*/
poetry.lock

# MongoDB

/data/db/
*.ns
*.bson
*.wt
mongod.lock
dump/


# Node / React

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.yarn-integrity
.next/
.nuxt/
out/
build/
dist/
.cache/
coverage/
*.tsbuildinfo

# React (CRA, Vite, etc.)

/build
/.vite
/.vite/deps
.vite/
vite.config.ts.timestamp-*


*.min.js
*.min.css
*.map


.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

*.pem
*.crt
*.key
*.bak
*.tmp
